.tool_upgrades32x32{display:inline-block;width:32px;height:32px;background:url('asset.bb4b09bf55b021104c7755a17f650b76.png') no-repeat;}
.tool_upgrades32x32.objitemtoolupgradeproductivity{background-position:-1280px -0px;}
.tool_upgrades32x32.objitemtoolupgradearmor{background-position:-32px -0px;}
.tool_upgrades32x32.objitemtoolupgradeaugmentdampener{background-position:-1312px -0px;}
.tool_upgrades32x32.objitemtoolupgradeproductivitydiamondblade{background-position:-1536px -0px;}
.tool_upgrades32x32.objitemtoolupgradeproductivityantistaining{background-position:-224px -0px;}
.tool_upgrades32x32.objitemtoolupgradeaugmenthydraulic{background-position:-1088px -0px;}
.tool_upgrades32x32.objitemtoolupgradefungi{background-position:-160px -0px;}
.tool_upgrades32x32.objitemtoolupgradereinforcementheatsink{background-position:-1152px -0px;}
.tool_upgrades32x32.objitemtoolupgradeaugmentholyoils{background-position:-352px -0px;}
.tool_upgrades32x32.objitemtoolupgradearmorenergy{background-position:-1056px -0px;}
.tool_upgrades32x32.objitemtoolupgradeaugment{background-position:-864px -0px;}
.tool_upgrades32x32.objitemtoolupgradeloudener{background-position:-320px -0px;}
.tool_upgrades32x32.objitemtoolupgraderefinement{background-position:-640px -0px;}
.tool_upgrades32x32.objitemtoolupgradenotmagnetic{background-position:-1664px -0px;}
.tool_upgrades32x32.objitemtoolupgradefaultyheatsink{background-position:-1120px -0px;}
.tool_upgrades32x32.objitemtoolupgraderefinementstabilizedgrip{background-position:-0px -0px;}
.tool_upgrades32x32.objitemtoolupgradeaugmentsanctifier{background-position:-416px -0px;}
.tool_upgrades32x32.objitemtoolupgradeaugmentaitool{background-position:-1024px -0px;}
.tool_upgrades32x32.objitemtoolupgradearmormelee{background-position:-64px -0px;}
.tool_upgrades32x32.objitemtoolupgradereinforcement{background-position:-512px -0px;}
.tool_upgrades32x32.objitemtoolupgradereinforcementplating{background-position:-800px -0px;}
.tool_upgrades32x32.objitemtoolupgradeproductivitymotor{background-position:-992px -0px;}
.tool_upgrades32x32.objitemtoolupgradeproductivitywaxcoat{background-position:-1184px -0px;}
.tool_upgrades32x32.objitemtoolupgradeartworktoolmod{background-position:-768px -0px;}
.tool_upgrades32x32.objitemtoolupgradeaugmentholdingtank{background-position:-576px -0px;}
.tool_upgrades32x32.objitemtoolupgradeaugmentcellmount{background-position:-1568px -0px;}
.tool_upgrades32x32.objitemtoolupgraderefinementlaserguide{background-position:-288px -0px;}
.tool_upgrades32x32.objitemtoolupgraderefinementvibcompensator{background-position:-1408px -0px;}
.tool_upgrades32x32.objitemtoolupgradecrackedfuel{background-position:-672px -0px;}
.tool_upgrades32x32.objitemtoolupgrademoldypaint{background-position:-1472px -0px;}
.tool_upgrades32x32.objitemtoolupgradeaugmentspikes{background-position:-928px -0px;}
.tool_upgrades32x32.objitemtoolupgradeaugmentrepairnano{background-position:-1728px -0px;}
.tool_upgrades32x32.objitemtoolupgraderefinementcompensatedbarrel{background-position:-192px -0px;}
.tool_upgrades32x32.objitemtoolupgradearmorbullet{background-position:-1632px -0px;}
.tool_upgrades32x32.objitemtoolupgradeproductivityoxyjet{background-position:-1792px -0px;}
.tool_upgrades32x32.objitemtoolupgradeaugmentexpansion{background-position:-1504px -0px;}
.tool_upgrades32x32.objitemtoolupgradereinforcementplasmablock{background-position:-448px -0px;}
.tool_upgrades32x32.objitemtoolupgradeproductivitywhetstone{background-position:-544px -0px;}
.tool_upgrades32x32.objitemtoolupgradeproductivitybooster{background-position:-1344px -0px;}
.tool_upgrades32x32.objitemtoolupgradeproductivityergonomicgrip{background-position:-1696px -0px;}
.tool_upgrades32x32.objitemtoolupgradeproductivityrocketengine{background-position:-384px -0px;}
.tool_upgrades32x32.objitemtoolupgradereinforcementrubbermesh{background-position:-704px -0px;}
.tool_upgrades32x32.objitemtoolupgradeaugmentcelladapt{background-position:-1600px -0px;}
.tool_upgrades32x32.objitemtoolupgradeproductivityratchet{background-position:-128px -0px;}
.tool_upgrades32x32.objitemtoolupgradebrokenplasmainjector{background-position:-608px -0px;}
.tool_upgrades32x32.objitemtoolupgradearmorbomb{background-position:-1376px -0px;}
.tool_upgrades32x32.objitemtoolupgraderefinementmagbit{background-position:-256px -0px;}
.tool_upgrades32x32.objitemtoolupgradestickers{background-position:-832px -0px;}
.tool_upgrades32x32.objitemtoolupgradeproductivityredpaint{background-position:-96px -0px;}
.tool_upgrades32x32.objitemtoolupgradeaugmentrandomizer{background-position:-1440px -0px;}
.tool_upgrades32x32.objitemtoolupgradeaugmentfueltank{background-position:-896px -0px;}
.tool_upgrades32x32.objitemtoolupgradeaugmentaitoolexcelsior{background-position:-736px -0px;}
.tool_upgrades32x32.objitemtoolupgradereinforcementstick{background-position:-1760px -0px;}
.tool_upgrades32x32.objitemtoolupgradereinforcementguard{background-position:-960px -0px;}
.tool_upgrades32x32.objitemtoolupgraderefinementportedbarrel{background-position:-1216px -0px;}
.tool_upgrades32x32.objitemtoolupgradeproductivityinjector{background-position:-1248px -0px;}
.tool_upgrades32x32.objitemtoolupgradeaugmentcrusaderseal{background-position:-480px -0px;}