.ores64x64{display:inline-block;width:64px;height:64px;background:url('asset.fd0484cf51982a81ce60f6ce5983b63e.png') no-repeat;}
.ores64x64.objitemstackoreslag{background-position:-960px -0px;}
.ores64x64.objitemstackoreosmiumsmall{background-position:-768px -0px;}
.ores64x64.objitemstackoreuraniumsmall{background-position:-1280px -0px;}
.ores64x64.objitemstackoregoldsmall{background-position:-1152px -0px;}
.ores64x64.objitemstackorehydrogensmall{background-position:-128px -0px;}
.ores64x64.objitemstackorediamondsmall{background-position:-1216px -0px;}
.ores64x64.objitemstackoreuranium{background-position:-0px -0px;}
.ores64x64.objitemstackoregold{background-position:-192px -0px;}
.ores64x64.objitemstackoreglass{background-position:-832px -0px;}
.ores64x64.objitemstackorediamond{background-position:-1024px -0px;}
.ores64x64.objitemstackorecoalsmall{background-position:-576px -0px;}
.ores64x64.objitemstackorehydrogen{background-position:-704px -0px;}
.ores64x64.objitemstackorestrangerock{background-position:-448px -0px;}
.ores64x64.objitemstackoresilver{background-position:-1088px -0px;}
.ores64x64.objitemstackoresilversmall{background-position:-896px -0px;}
.ores64x64.objitemstackoreiron{background-position:-384px -0px;}
.ores64x64.objitemstackoreplasmasmall{background-position:-64px -0px;}
.ores64x64.objitemstackoreplasma{background-position:-512px -0px;}
.ores64x64.objitemstackorecoal{background-position:-640px -0px;}
.ores64x64.objitemstackoreosmium{background-position:-256px -0px;}
.ores64x64.objitemstackoreironsmall{background-position:-320px -0px;}