.materials32x32{display:inline-block;width:32px;height:32px;background:url('asset.b69ebfcf5c5dd3dd240be6e89c699f8b.png') no-repeat;}
.materials32x32.objitemstackmaterialosmium{background-position:-1024px -0px;}
.materials32x32.objitemstackmaterialironrandom{background-position:-2432px -0px;}
.materials32x32.objitemstackmaterialsteel{background-position:-2336px -0px;}
.materials32x32.objitemstackmaterialsteelrandom{background-position:-128px -0px;}
.materials32x32.objitemstackmaterialiron{background-position:-3136px -0px;}
.materials32x32.objitemstackmaterialglassten{background-position:-576px -0px;}
.materials32x32.objitemstackmaterialwetleather{background-position:-2464px -0px;}
.materials32x32.objitemstackmaterialplatinumrandom{background-position:-2976px -0px;}
.materials32x32.objitemstackmaterialwoodten{background-position:-3200px -0px;}
.materials32x32.objitemstackmaterialsandstonefive{background-position:-2944px -0px;}
.materials32x32.objitemstackmaterialanimalhide{background-position:-640px -0px;}
.materials32x32.objitemstackmaterialclothsoteria{background-position:-1920px -0px;}
.materials32x32.objitemstackmaterialironfull{background-position:-2272px -0px;}
.materials32x32.objitemstackmaterialmarblefive{background-position:-2400px -0px;}
.materials32x32.objitemstackmaterialwood{background-position:-2720px -0px;}
.materials32x32.objitemstackmaterialsteelfull{background-position:-1216px -0px;}
.materials32x32.objitemstackmaterialplasticfull{background-position:-1728px -0px;}
.materials32x32.objitemstackmaterialplasticrandom{background-position:-448px -0px;}
.materials32x32.objitemstackmaterialbiomatterfull{background-position:-800px -0px;}
.materials32x32.objitemstackmaterialglassplasmarglassfull{background-position:-1600px -0px;}
.materials32x32.objitemstackmaterialdurasteel{background-position:-2496px -0px;}
.materials32x32.objitemstackmaterialplatinum{background-position:-480px -0px;}
.materials32x32.objitemstackmaterialbiomatter{background-position:-224px -0px;}
.materials32x32.objitemstackmaterialrefinedscrapfull{background-position:-352px -0px;}
.materials32x32.objitemstackmaterialmarbleten{background-position:-1696px -0px;}
.materials32x32.objitemstackmaterialglassfive{background-position:-1984px -0px;}
.materials32x32.objitemstackmaterialxenochitin{background-position:-1568px -0px;}
.materials32x32.objitemstackmaterialsilverfull{background-position:-2528px -0px;}
.materials32x32.objitemstackmaterialplasmarandom{background-position:-1248px -0px;}
.materials32x32.objitemstackmaterialglassplasmarglass{background-position:-1408px -0px;}
.materials32x32.objitemstackmaterialsilverrandom{background-position:-3104px -0px;}
.materials32x32.objitemstackmaterialdiamondtenstack{background-position:-2112px -0px;}
.materials32x32.objitemstackmaterialdiamondfull{background-position:-512px -0px;}
.materials32x32.objitemstackmaterialsilk{background-position:-1344px -0px;}
.materials32x32.objitemstackmaterialameridianfull{background-position:-2016px -0px;}
.materials32x32.objitemstackmaterialsandstoneten{background-position:-1824px -0px;}
.materials32x32.objitemstackmaterialplasmafull{background-position:-1664px -0px;}
.materials32x32.objitemstackmaterialplatinumfull{background-position:-288px -0px;}
.materials32x32.objitemstackmaterialgoldfull{background-position:-704px -0px;}
.materials32x32.objitemstackmaterialdiamond{background-position:-1888px -0px;}
.materials32x32.objitemstackmaterialwoodrandom{background-position:-960px -0px;}
.materials32x32.objitemstackmaterialuraniumfull{background-position:-2912px -0px;}
.materials32x32.objitemstackmaterialglass{background-position:-2176px -0px;}
.materials32x32.objitemstackmaterialglassrandom{background-position:-2880px -0px;}
.materials32x32.objitemstackmaterialironfive{background-position:-1280px -0px;}
.materials32x32.objitemstackmaterialsilver{background-position:-1152px -0px;}
.materials32x32.objitemstackmaterialplasteelfull{background-position:-2688px -0px;}
.materials32x32.objitemstackmaterialglassplasmaglassfull{background-position:-864px -0px;}
.materials32x32.objitemstackmaterialglassplasmaglassrandom{background-position:-2080px -0px;}
.materials32x32.objitemstackmaterialsandstone{background-position:-2624px -0px;}
.materials32x32.objitemstackmaterialbiomatterrandom{background-position:-1088px -0px;}
.materials32x32.objitemstackmaterialanimalhidelizard{background-position:-1376px -0px;}
.materials32x32.objitemstackmaterialuranium{background-position:-736px -0px;}
.materials32x32.objitemstackmaterialglassfull{background-position:-416px -0px;}
.materials32x32.objitemstackmaterialtritium{background-position:-2784px -0px;}
.materials32x32.objitemstackmaterialhairlesshide{background-position:-2240px -0px;}
.materials32x32.objitemstackmaterialameridian{background-position:-3040px -0px;}
.materials32x32.objitemstackmaterialleatherbiogen{background-position:-1440px -0px;}
.materials32x32.objitemstackmaterialplasticten{background-position:-2816px -0px;}
.materials32x32.objitemstackmaterialgoldrandom{background-position:-896px -0px;}
.materials32x32.objitemstackmaterialcompressedmatterfull{background-position:-1536px -0px;}
.materials32x32.objitemstackmaterialglassreinforced{background-position:-1856px -0px;}
.materials32x32.objitemstackmaterialanimalhidexeno{background-position:-2144px -0px;}
.materials32x32.objitemstackmaterialcloth{background-position:-320px -0px;}
.materials32x32.objitemstackmaterialgold{background-position:-160px -0px;}
.materials32x32.objitemstackmaterialleather{background-position:-2592px -0px;}
.materials32x32.objitemstackmaterialclothrandom{background-position:-1760px -0px;}
.materials32x32.objitemstackmaterialcardboardfull{background-position:-2304px -0px;}
.materials32x32.objitemstackmaterialcardboard{background-position:-832px -0px;}
.materials32x32.objitemstackmaterialwoodfull{background-position:-1056px -0px;}
.materials32x32.objitemstackmaterialuraniumrandom{background-position:-1472px -0px;}
.materials32x32.objitemstackmaterialbone{background-position:-0px -0px;}
.materials32x32.objitemstackmaterialwoodfive{background-position:-608px -0px;}
.materials32x32.objitemstackmaterialclothten{background-position:-1632px -0px;}
.materials32x32.objitemstackmaterialplasteel{background-position:-1120px -0px;}
.materials32x32.objitemstackmaterialmhydrogen{background-position:-1792px -0px;}
.materials32x32.objitemstackmaterialmhydrogenfull{background-position:-1504px -0px;}
.materials32x32.objitemstackmaterialcardboardrandom{background-position:-3232px -0px;}
.materials32x32.objitemstackmaterialdiamondrandom{background-position:-64px -0px;}
.materials32x32.objitemstackmaterialanimalhidemonkey{background-position:-2560px -0px;}
.materials32x32.objitemstackmaterialanimalhidecorgi{background-position:-384px -0px;}
.materials32x32.objitemstackmaterialosmiumfull{background-position:-2208px -0px;}
.materials32x32.objitemstackmaterialplasticfive{background-position:-192px -0px;}
.materials32x32.objitemstackmaterialanimalhidehuman{background-position:-2048px -0px;}
.materials32x32.objitemstackmaterialplasma{background-position:-3008px -0px;}
.materials32x32.objitemstackmaterialrefinedscraprandom{background-position:-1952px -0px;}
.materials32x32.objitemstackmaterialcompressedmatter{background-position:-2656px -0px;}
.materials32x32.objitemstackmaterialrefinedscrap{background-position:-768px -0px;}
.materials32x32.objitemstackmaterialcompressedmatterrandom{background-position:-2848px -0px;}
.materials32x32.objitemstackmaterialclothfive{background-position:-256px -0px;}
.materials32x32.objitemstackmaterialironten{background-position:-96px -0px;}
.materials32x32.objitemstackmaterialcardboardten{background-position:-544px -0px;}
.materials32x32.objitemstackmaterialsteelfive{background-position:-992px -0px;}
.materials32x32.objitemstackmaterialplasteelrandom{background-position:-3072px -0px;}
.materials32x32.objitemstackmaterialcardboardfive{background-position:-2752px -0px;}
.materials32x32.objitemstackmaterialclothbiogen{background-position:-3168px -0px;}
.materials32x32.objitemstackmaterialplastic{background-position:-928px -0px;}
.materials32x32.objitemstackmaterialanimalhidecat{background-position:-1184px -0px;}
.materials32x32.objitemstackmaterialtritiumfull{background-position:-672px -0px;}
.materials32x32.objitemstackmaterialsteelten{background-position:-1312px -0px;}
.materials32x32.objitemstackmaterialglassplasmaglass{background-position:-2368px -0px;}
.materials32x32.objitemstackmaterialmarble{background-position:-32px -0px;}