.chem_master32x32{display:inline-block;width:32px;height:32px;background:url('asset.8684088c3bd09137f575e054e6e4083b.png') no-repeat;}
.chem_master32x32.syrette_tricord{background-position:-1280px -0px;}
.chem_master32x32.pill_red{background-position:-800px -0px;}
.chem_master32x32.pill_orange{background-position:-256px -0px;}
.chem_master32x32.pill10{background-position:-384px -0px;}
.chem_master32x32.pill15{background-position:-1632px -0px;}
.chem_master32x32.potion{background-position:-1376px -0px;}
.chem_master32x32.tincture{background-position:-1088px -0px;}
.chem_master32x32.syrette_orange{background-position:-992px -0px;}
.chem_master32x32.syrette_magenta{background-position:-672px -0px;}
.chem_master32x32.pill2{background-position:-1056px -0px;}
.chem_master32x32.pill8{background-position:-1248px -0px;}
.chem_master32x32.syrette_inopravoline{background-position:-1408px -0px;}
.chem_master32x32.syrette_antitox{background-position:-416px -0px;}
.chem_master32x32.pill_canister{background-position:-1664px -0px;}
.chem_master32x32.pill_rainbow{background-position:-1216px -0px;}
.chem_master32x32.syrette_cyan{background-position:-320px -0px;}
.chem_master32x32.pill7{background-position:-480px -0px;}
.chem_master32x32.pill1{background-position:-1120px -0px;}
.chem_master32x32.syrette{background-position:-224px -0px;}
.chem_master32x32.pill16{background-position:-1152px -0px;}
.chem_master32x32.pill_pink{background-position:-864px -0px;}
.chem_master32x32.pill20{background-position:-32px -0px;}
.chem_master32x32.pill_black{background-position:-1184px -0px;}
.chem_master32x32.pill_dred{background-position:-1440px -0px;}
.chem_master32x32.pill12{background-position:-96px -0px;}
.chem_master32x32.syrette_fun{background-position:-544px -0px;}
.chem_master32x32.syrette_green{background-position:-1472px -0px;}
.chem_master32x32.syrette_yellow{background-position:-1344px -0px;}
.chem_master32x32.syrette_red{background-position:-128px -0px;}
.chem_master32x32.syrette_quickclot{background-position:-832px -0px;}
.chem_master32x32.pill4{background-position:-608px -0px;}
.chem_master32x32.pill17{background-position:-1536px -0px;}
.chem_master32x32.syrette_fun1{background-position:-928px -0px;}
.chem_master32x32.pill9{background-position:-640px -0px;}
.chem_master32x32.pill_white{background-position:-736px -0px;}
.chem_master32x32.pill_yellow{background-position:-1024px -0px;}
.chem_master32x32.pill13{background-position:-192px -0px;}
.chem_master32x32.pill_blue{background-position:-1600px -0px;}
.chem_master32x32.bottle{background-position:-960px -0px;}
.chem_master32x32.pill5{background-position:-1568px -0px;}
.chem_master32x32.pill_green{background-position:-288px -0px;}
.chem_master32x32.pill11{background-position:-704px -0px;}
.chem_master32x32.pill19{background-position:-160px -0px;}
.chem_master32x32.pill_lred{background-position:-64px -0px;}
.chem_master32x32.syrette_dexalinplus{background-position:-352px -0px;}
.chem_master32x32.pill3{background-position:-768px -0px;}
.chem_master32x32.syrette_spacealine{background-position:-576px -0px;}
.chem_master32x32.supeyrette{background-position:-896px -0px;}
.chem_master32x32.pill14{background-position:-1504px -0px;}
.chem_master32x32.pill18{background-position:-448px -0px;}
.chem_master32x32.pill6{background-position:-1312px -0px;}
.chem_master32x32.syrette_blue{background-position:-0px -0px;}
.chem_master32x32.syrette_hyperzine{background-position:-512px -0px;}