.perks32x32{display:inline-block;width:32px;height:32px;background:url('asset.80a1052dcf8587cacfae25c2c019e697.png') no-repeat;}
.perks32x32.medicalexpertise{background-position:-2720px -0px;}
.perks32x32.channeling{background-position:-4224px -0px;}
.perks32x32.repairgoo{background-position:-3200px -0px;}
.perks32x32.diverseculture{background-position:-5120px -0px;}
.perks32x32.interfacing{background-position:-2784px -0px;}
.perks32x32.muscular{background-position:-1184px -0px;}
.perks32x32.half_light{background-position:-2048px -0px;}
.perks32x32.periodictable{background-position:-192px -0px;}
.perks32x32.map{background-position:-1504px -0px;}
.perks32x32.merchant{background-position:-608px -0px;}
.perks32x32.imprinter{background-position:-3616px -0px;}
.perks32x32.psionicattunement{background-position:-6016px -0px;}
.perks32x32.barmenu{background-position:-2528px -0px;}
.perks32x32.psionicharmony{background-position:-1280px -0px;}
.perks32x32.dual_shot{background-position:-3840px -0px;}
.perks32x32.bg_default{background-position:-4352px -0px;}
.perks32x32.inland_empire{background-position:-5792px -0px;}
.perks32x32.blackshieldconditioning{background-position:-4800px -0px;}
.perks32x32.medicine{background-position:-5344px -0px;}
.perks32x32.lungs{background-position:-4192px -0px;}
.perks32x32.munitionfabrication{background-position:-3584px -0px;}
.perks32x32.tenacity{background-position:-4480px -0px;}
.perks32x32.treasure{background-position:-3904px -0px;}
.perks32x32.nepotism{background-position:-5184px -0px;}
.perks32x32.adaptednervoussystem{background-position:-5856px -0px;}
.perks32x32.combatnanites{background-position:-1376px -0px;}
.perks32x32.snack{background-position:-3264px -0px;}
.perks32x32.electrochemistry{background-position:-3008px -0px;}
.perks32x32.guild{background-position:-4640px -0px;}
.perks32x32.bomb{background-position:-128px -0px;}
.perks32x32.exertion{background-position:-480px -0px;}
.perks32x32.deepconnection{background-position:-5280px -0px;}
.perks32x32.snack_carn{background-position:-1920px -0px;}
.perks32x32.bornwarrior{background-position:-5376px -0px;}
.perks32x32.trueanme{background-position:-448px -0px;}
.perks32x32.caloricredline{background-position:-5088px -0px;}
.perks32x32.psionicpsychosis{background-position:-3520px -0px;}
.perks32x32.revival{background-position:-1248px -0px;}
.perks32x32.shield{background-position:-5760px -0px;}
.perks32x32.vortex{background-position:-864px -0px;}
.perks32x32.regrowth{background-position:-3328px -0px;}
.perks32x32.resiliance{background-position:-1216px -0px;}
.perks32x32.reason{background-position:-320px -0px;}
.perks32x32.naniteregeneration{background-position:-1472px -0px;}
.perks32x32.shock{background-position:-768px -0px;}
.perks32x32.naturalist{background-position:-1088px -0px;}
.perks32x32.fast{background-position:-2464px -0px;}
.perks32x32.instinctualskill{background-position:-5504px -0px;}
.perks32x32.splicer_alt{background-position:-3872px -0px;}
.perks32x32.willtosurvive{background-position:-1440px -0px;}
.perks32x32.boltactionrifletraining{background-position:-832px -0px;}
.perks32x32.volition{background-position:-3808px -0px;}
.perks32x32.overbreath{background-position:-32px -0px;}
.perks32x32.adaptiveanatomy{background-position:-6048px -0px;}
.perks32x32.rat{background-position:-2080px -0px;}
.perks32x32.sanityboost{background-position:-3392px -0px;}
.perks32x32.ammo_box{background-position:-2752px -0px;}
.perks32x32.mantrap{background-position:-1824px -0px;}
.perks32x32.herbivore{background-position:-1664px -0px;}
.perks32x32.enhancesenses{background-position:-928px -0px;}
.perks32x32.robotics{background-position:-4384px -0px;}
.perks32x32.nanofibermuscletherapy{background-position:-1888px -0px;}
.perks32x32.footsteps{background-position:-3456px -0px;}
.perks32x32.revivalsickness{background-position:-4160px -0px;}
.perks32x32.nanogateimplant{background-position:-2112px -0px;}
.perks32x32.bad_breath{background-position:-64px -0px;}
.perks32x32.smuggledpatchkit{background-position:-3552px -0px;}
.perks32x32.greenthumb{background-position:-5696px -0px;}
.perks32x32.recklessfrenzy{background-position:-6208px -0px;}
.perks32x32.savior_faire{background-position:-4032px -0px;}
.perks32x32.overheat{background-position:-4000px -0px;}
.perks32x32.obsucation_ranking{background-position:-2816px -0px;}
.perks32x32.tinker{background-position:-4256px -0px;}
.perks32x32.inspiration{background-position:-3136px -0px;}
.perks32x32.laststand{background-position:-1696px -0px;}
.perks32x32.smuggledcircuit{background-position:-3648px -0px;}
.perks32x32.survivor{background-position:-2944px -0px;}
.perks32x32.inspiringbattlecry{background-position:-992px -0px;}
.perks32x32.paintbrush_no{background-position:-4128px -0px;}
.perks32x32.sitraining{background-position:-4832px -0px;}
.perks32x32.klutz_alt{background-position:-2144px -0px;}
.perks32x32.secondskin{background-position:-640px -0px;}
.perks32x32.spawnslimemold{background-position:-1120px -0px;}
.perks32x32.snack_herb{background-position:-6112px -0px;}
.perks32x32.mindmaster{background-position:-1312px -0px;}
.perks32x32.generic{background-position:-5248px -0px;}
.perks32x32.oxyrushnanites{background-position:-5440px -0px;}
.perks32x32.missing_perk_icon{background-position:-3488px -0px;}
.perks32x32.aura_attunement{background-position:-5408px -0px;}
.perks32x32.marketprofessional{background-position:-736px -0px;}
.perks32x32.cigarette{background-position:-6176px -0px;}
.perks32x32.suddenbrilliance{background-position:-4064px -0px;}
.perks32x32.circuitry{background-position:-512px -0px;}
.perks32x32.roughandtumble{background-position:-3776px -0px;}
.perks32x32.inspiration_active{background-position:-4288px -0px;}
.perks32x32.composure{background-position:-3360px -0px;}
.perks32x32.malleablemind{background-position:-2656px -0px;}
.perks32x32.handyman{background-position:-2592px -0px;}
.perks32x32.debtor{background-position:-224px -0px;}
.perks32x32.family{background-position:-5472px -0px;}
.perks32x32.tank_resiliance{background-position:-160px -0px;}
.perks32x32.klutz{background-position:-5728px -0px;}
.perks32x32.keysmith_alt{background-position:-4960px -0px;}
.perks32x32.alch{background-position:-2304px -0px;}
.perks32x32.uncannyresiliance{background-position:-4992px -0px;}
.perks32x32.Hazmat{background-position:-1760px -0px;}
.perks32x32.nepotism_alt{background-position:-2272px -0px;}
.perks32x32.adrenalineburst_tim{background-position:-1024px -0px;}
.perks32x32.psionic_alt{background-position:-3424px -0px;}
.perks32x32.paintbrush{background-position:-3296px -0px;}
.perks32x32.ear{background-position:-4512px -0px;}
.perks32x32.solborn{background-position:-4608px -0px;}
.perks32x32.revival_critical{background-position:-2432px -0px;}
.perks32x32.codespeak_serb{background-position:-5920px -0px;}
.perks32x32.void_eye{background-position:-1984px -0px;}
.perks32x32.drinking{background-position:-3968px -0px;}
.perks32x32.moralist{background-position:-896px -0px;}
.perks32x32.roboticsexpert{background-position:-5632px -0px;}
.perks32x32.encyclopedia{background-position:-4544px -0px;}
.perks32x32.spice{background-position:-6240px -0px;}
.perks32x32.neat{background-position:-672px -0px;}
.perks32x32.sol{background-position:-5216px -0px;}
.perks32x32.hydrationreliance{background-position:-2496px -0px;}
.perks32x32.aura_psychosis{background-position:-4576px -0px;}
.perks32x32.inspiringpresence{background-position:-1568px -0px;}
.perks32x32.severerevivalsickness{background-position:-1056px -0px;}
.perks32x32.hypermytosis{background-position:-1408px -0px;}
.perks32x32.purgernanites{background-position:-3104px -0px;}
.perks32x32.revival_harsh{background-position:-2912px -0px;}
.perks32x32.paper{background-position:-5952px -0px;}
.perks32x32.scuttlebug{background-position:-1152px -0px;}
.perks32x32.empathy{background-position:-2176px -0px;}
.perks32x32.surgerytraining{background-position:-4736px -0px;}
.perks32x32.chemaddict{background-position:-6144px -0px;}
.perks32x32.murder{background-position:-4448px -0px;}
.perks32x32.eye{background-position:-1728px -0px;}
.perks32x32.communityofthesaints{background-position:-5056px -0px;}
.perks32x32.beer{background-position:-5312px -0px;}
.perks32x32.prism{background-position:-2880px -0px;}
.perks32x32.illegalsubstancetraining{background-position:-5984px -0px;}
.perks32x32.folkenphotohealing{background-position:-6080px -0px;}
.perks32x32.liver{background-position:-2624px -0px;}
.perks32x32.smuggledarmaments{background-position:-256px -0px;}
.perks32x32.smuggledtools{background-position:-96px -0px;}
.perks32x32.venus{background-position:-1632px -0px;}
.perks32x32.purgetoxins{background-position:-5600px -0px;}
.perks32x32.parkour{background-position:-352px -0px;}
.perks32x32.celebration{background-position:-3712px -0px;}
.perks32x32.vagabond{background-position:-5824px -0px;}
.perks32x32.plus_one{background-position:-3168px -0px;}
.perks32x32.selfmedicated{background-position:-4320px -0px;}
.perks32x32.psionic{background-position:-5568px -0px;}
.perks32x32.grab{background-position:-3040px -0px;}
.perks32x32.night{background-position:-5536px -0px;}
.perks32x32.hand_eye{background-position:-960px -0px;}
.perks32x32.reject_reality{background-position:-2848px -0px;}
.perks32x32.naniteskinweave{background-position:-416px -0px;}
.perks32x32.brain{background-position:-5024px -0px;}
.perks32x32.thin{background-position:-544px -0px;}
.perks32x32.inspiredintellect{background-position:-1792px -0px;}
.perks32x32.fatalrevivalsickness{background-position:-4896px -0px;}
.perks32x32.aura_harm{background-position:-2976px -0px;}
.perks32x32.ladder{background-position:-0px -0px;}
.perks32x32.third_eye{background-position:-1344px -0px;}
.perks32x32.modifyoddity{background-position:-4672px -0px;}
.perks32x32.truefaith{background-position:-5152px -0px;}
.perks32x32.anomalyhunter{background-position:-2400px -0px;}
.perks32x32.celestial{background-position:-704px -0px;}
.perks32x32.akula{background-position:-4864px -0px;}
.perks32x32.splicer{background-position:-3680px -0px;}
.perks32x32.riotshield{background-position:-4768px -0px;}
.perks32x32.masterbutcher{background-position:-800px -0px;}
.perks32x32.robber_hand{background-position:-4096px -0px;}
.perks32x32.skills{background-position:-2336px -0px;}
.perks32x32.brainrot{background-position:-2240px -0px;}
.perks32x32.codespeak{background-position:-2368px -0px;}
.perks32x32.surgery{background-position:-4416px -0px;}
.perks32x32.blood_lust{background-position:-2560px -0px;}
.perks32x32.advancedsurgicaltechniques{background-position:-5664px -0px;}
.perks32x32.keysmith{background-position:-4928px -0px;}
.perks32x32.knowledge{background-position:-1536px -0px;}
.perks32x32.aura_grace{background-position:-2016px -0px;}
.perks32x32.adrenalineburst{background-position:-3232px -0px;}
.perks32x32.linguist{background-position:-6272px -0px;}
.perks32x32.authority{background-position:-3936px -0px;}
.perks32x32.slime_rez{background-position:-2688px -0px;}
.perks32x32.carnivore{background-position:-288px -0px;}
.perks32x32.aura{background-position:-2208px -0px;}
.perks32x32.armor{background-position:-3072px -0px;}
.perks32x32.market_prof{background-position:-1856px -0px;}
.perks32x32.ironflesh{background-position:-1600px -0px;}
.perks32x32.gelatinousbiology{background-position:-384px -0px;}
.perks32x32.smuggledmedicine{background-position:-4704px -0px;}
.perks32x32.spawnshroomling{background-position:-3744px -0px;}
.perks32x32.mycusregeneration{background-position:-5888px -0px;}
.perks32x32.golem{background-position:-576px -0px;}
.perks32x32.gunsmith{background-position:-1952px -0px;}